.App {
  text-align: center;
  margin: 0;
}
.card-box {
  background-color: #9bc09c;
}
.title {
  font-size: 50px;
  background: -webkit-linear-gradient(#eeeeee, #03aa38);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input:focus {
  outline: none;
  border: solid 4px rgb(54, 54, 247);
  background-color: white;
}
.main {
  margin-top: 180px;
}
